<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <%= image_tag("everest.jpg", class: "img-fluid h-100 object-fit-cover", style: "border-radius: 1rem 0 0 1rem;") %>
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <%= form_with url: registrations_path, model: @user do |f| %>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <span class="h1 fw-bold mb-0">Everest</span>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>

                  <div class="form-outline mb-4">
                    <%= f.label :name, "Name"%>
                    <%= f.text_field :name, placeholder: "Your name", required: true %>
                    <%= f.error_message_for :name %>
                  </div>

                  <div class="form-outline mb-4" data-controller="remove-target">
                    <%= f.label :email, "Email address"%>
                    <%= f.email_field(
                      :email, 
                      placeholder: "local-part@domain", 
                      required: true, 
                      data: { 
                        controller: "email-validator",
                        action: [
                          "input->email-validator#validateEmail", 
                          "input->remove-target#remove"
                        ].join(" "),
                        email_validator_target: "email" 
                      }
                    ) %>
                    <%= f.error_message_for :email, data: { remove_target_target: "target" } %>
                  </div>

                  <div class="form-outline mb-4" data-controller="password-validator remove-target">
                    <%= f.label :password, "Password" %>
                    <%= f.password_field(
                      :password, 
                      required: true, 
                      data: { 
                        password_validator_target: "password", 
                        action: [
                          "input->password-validator#validatePassword",
                          "input->remove-target#remove"
                        ].join(" ")
                      }
                    ) %>
                    <%= f.error_message_for :password, data: { remove_target_target: "target" } %>

                    <div class="mt-2">
                      <div class="form-text">Requirements:</div>
                      <ul class="form-text px-0" data-password-validator-target="rulesContainer">
                        <% [
                          { text: "Minimum 10 characters", id: "min-length-10" },
                          { text: "Maximum 72 characters", id: "max-length-72" },
                          { text: "At least two uppercase letters", id: "two-uppercase" },
                          { text: "At least two lowercase letters", id: "two-lowercase" },
                          { text: "At least two numbers", id: "two-numbers" },
                          { text: "At least two special characters", id: "two-special-characters" }
                        ].each do |rule| %>
                          <%= tag.li(id: rule[:id], class: "password-rule list-unstyled", data: { password_validator_target: "rule" }) do %>
                            <span>
                              <i class="bi bi-x-circle"></i>
                            </span>
                            <span>
                              <%= rule[:text] %>
                            </span>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                  </div>

                  <div class="pt-1 mb-4">
                    <%= f.submit "Login", class: "w-100" %>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have a account? <%= link_to "Sign in", new_session_path, style: "color: #393f81;" %></p>
                  
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
